In [1]:
import pandas as pd

In [7]:
apple_news = pd.read_pickle("apple_news_data.pkl", compression='infer')
amazon_news = pd.read_pickle("amazon_news_data.pkl", compression='infer')
apple_chart = pd.read_pickle("apple_stock_chart.pkl", compression='infer')
amazon_chart = pd.read_pickle("apple_stock_chart.pkl", compression='infer')

In [8]:
apple_news

           published_time                                    article_content
0     2018-12-01 18:50:00  vishria bird financial group llc acquired a ne...
1     2018-12-29 02:15:00  siri gets much smarter as apple's investments ...
2     2018-12-06 00:00:00  apple ( aapl - free report ) closed the most r...
3     2018-12-17 03:07:00  youtube/sakitech\napple's 2018 iphone lineup i...
4     2018-12-29 19:44:00  new york , dec. 27, 2018 /prnewswire/ — invest...
...                   ...                                                ...
78050 2018-03-30 05:38:00  apple (nasdaq:aapl) shares sold by edge adviso...
78051 2018-03-06 19:05:00  stocks were already in a two-day slide when th...
78052 2018-03-01 17:48:00  options unusual activity most active equity op...
78053 2018-03-28 15:04:00  forget the iphone 8 and iphone x — here are 7 ...
78054 2018-03-14 00:00:00  this stock’s up almost 25,000% since 2009 and ...

[77687 rows x 2 columns]

In [9]:
amazon_news

           published_time                                    article_content
1     2018-12-29 02:15:00  siri gets much smarter as apple's investments ...
5     2018-12-07 14:33:00  home > mutual funds & etfs > etf investing > h...
6     2018-12-16 14:30:00  stock market power rankings: down is the new u...
7     2018-12-06 20:30:00  source: shutterstock\ndividend yield: 3.2%\nha...
8     2018-12-10 17:30:00  investors who want an edge in the stock market...
...                   ...                                                ...
78034 2018-03-25 16:08:00  san francisco (reuters) - the quartet of techn...
78037 2018-03-08 16:36:00  while the strategy of investing in internet-re...
78039 2018-03-20 21:11:00  march 20, 2018 / 9:09 pm / updated 10 minutes ...
78051 2018-03-06 19:05:00  stocks were already in a two-day slide when th...
78054 2018-03-14 00:00:00  this stock’s up almost 25,000% since 2009 and ...

[21395 rows x 2 columns]

In [10]:
apple_chart

,date,time,open,high,low,close,volume,upward_trend
0,2014.06.30,00:00,93.159,94.194,93.028,93.460,2799,True
1,2014.07.01,00:00,93.973,94.546,93.611,93.993,4787,True
2,2014.07.02,00:00,94.344,94.515,93.540,93.902,4476,False
3,2014.07.03,00:00,94.113,94.545,93.661,94.495,3454,True
4,2014.07.07,00:00,94.936,96.423,94.936,96.403,4638,True
...,...,...,...,...,...,...,...,...
1138,2019.01.28,00:00,156.250,156.490,153.650,155.920,62867,False
1139,2019.01.29,00:00,156.470,161.620,150.980,160.540,66595,True
1140,2019.01.30,00:00,161.680,166.110,160.220,165.660,70344,True
1141,2019.01.31,00:00,166.100,168.980,164.530,166.770,62821,True
1142,2019.02.01,00:00,166.100,168.960,165.900,166.130,51990,True

In [11]:
amazon_chart

,date,time,open,high,low,close,volume,upward_trend
0,2014.06.30,00:00,93.159,94.194,93.028,93.460,2799,True
1,2014.07.01,00:00,93.973,94.546,93.611,93.993,4787,True
2,2014.07.02,00:00,94.344,94.515,93.540,93.902,4476,False
3,2014.07.03,00:00,94.113,94.545,93.661,94.495,3454,True
4,2014.07.07,00:00,94.936,96.423,94.936,96.403,4638,True
...,...,...,...,...,...,...,...,...
1138,2019.01.28,00:00,156.250,156.490,153.650,155.920,62867,False
1139,2019.01.29,00:00,156.470,161.620,150.980,160.540,66595,True
1140,2019.01.30,00:00,161.680,166.110,160.220,165.660,70344,True
1141,2019.01.31,00:00,166.100,168.980,164.530,166.770,62821,True
1142,2019.02.01,00:00,166.100,168.960,165.900,166.130,51990,True